.backgroundImage2 {
    background-color: black;
    height: 100vh;
    width: 100%;
    position:fixed;
}

.New-Game-Header {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.table{
    background-image: url("./poker_table.jpg");
    background-repeat: no-repeat;
    height: 100vh;
    width: 100%;
    position:fixed;
    background-position: center center;
    background-size: 100%;
}