.backgroundImage2 {
    background-color: black;
    height: 100vh;
    width: 100%;
    position:fixed;
}

.tableJ{
    background-image: url("./poker_table.jpg");
    background-repeat: no-repeat;
    height: 100vh;
    width: 100%;
    position:fixed;
    background-position: 50% 70%;
    background-size: 100%;
}

.comunityCards{
    position: absolute;
    top: 32%;
    left: 31%;
    display: flex;
    flex-wrap: wrap;
    flex-flow: row;
}

img{
    height: 200px;
    border-radius: 8%;
    padding: 1px;
}

.pot{
    position: absolute;
    top: 55%;
    left: 45%;
}

.you{
    position: absolute;
    top: 80%;
    left: 48%;
    display: flex;
}

.playerCards{
    display: flex;
    flex-wrap: wrap;
    flex-flow: column;
}