.backgroundImage { 
  background-image: url("./background.jpg");
  background-repeat: no-repeat;
  height: 100vh;
  width: 100%;
  position:fixed;
  background-size: cover;
}
.App-header {
  text-align: center;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}